.carousel {
  position: relative;
  width: 100%;
  height: 500px;
  .carousel-wrapper {
    position: relative;
    width: 100%;
    height: 500px;
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
  }
  .carousel-track {
    position: absolute;
    height: 100%;
    display: flex;
  }
  .carousel-wrapper__left-btn,
  .carousel-wrapper__right-btn {
    position: absolute;
    display: flex;
    font-size: 80px;
    color: dark;
    cursor: pointer;
    padding: 0 20px;
    align-items: center;
    height: 100%;
    top: 0;
  }
  .carousel-wrapper__left-btn {
    left: 0;
  }
  .carousel-wrapper__right-btn {
    right: 0;
  }
  .carousel-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    .carousel-indicator-btn {
      font-size: 30px;
      padding: 5px;
      cursor: pointer;
    }
  }
}
